/* Banner about */
.about-banner {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.about-banner h1 {
    text-align: center;
    font-family: 'Sarabun Bold';
}

/* Content about */
.about-vinuni,
.about-skola {
    display: flex;
}

.about-vinuni-img img,
.about-skola-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-vinuni-content h2,
.about-skola-content h2 {
    margin-bottom: 20px;
}

.about-vinuni-content p:last-of-type,
.about-skola p:last-of-type {
    margin-bottom: 30px;
}

.about-vinuni a.button-neon,
.about-skola a.button-neon {
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {

    .about-vinuni>div,
    .about-skola>div {
        flex-basis: 50%;
        max-width: 50%;
    }

    .about-vinuni-content,
    .about-skola-content {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1023px) {
    .about-vinuni {
        flex-direction: column-reverse;
    }

    .about-skola {
        flex-direction: column;
    }

    .about-vinuni-content,
    .about-skola-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
}

/* Contact */
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.name-email-form {
    display: flex;
}

@media screen and (max-width: 1023px) {
    .name-email-form {
        flex-direction: column;
    }
}

.name-email-form .name-form input,
.name-email-form .email-form input {
    width: 100%;
    height: 64px;
    border-radius: 45px;
    padding: 30px;
}

.contact-form-content textarea {
    width: 100%;
    min-height: 270px;
    border-radius: 45px;
    padding: 30px;
    resize: none;
}

@media screen and (min-width: 1024px) {
    .contact-form {
        gap: 35px;
    }

    .name-email-form>div {
        flex-basis: 50%;
        max-width: 50%;
    }

    .name-email-form .name-form {
        display: flex;
        justify-content: flex-start;
    }

    .name-email-form .email-form {
        display: flex;
        justify-content: flex-end;
    }

    .name-email-form .name-form input,
    .name-email-form .email-form input {
        width: 90%;
        height: 89px;
        padding: 30px 60px;
    }

    .contact-form-content textarea {
        padding: 30px 60px;
    }
}