/* AI Future */
.ai-future>div {
    flex-basis: 50%;
    max-width: 50%;
}

@media screen and (min-width: 1024px) {
    .ai-future h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .ai-future {
        flex-direction: column;
    }

    .ai-future>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* About */
.about-home>div {
    flex-basis: 50%;
    max-width: 50%;
}

.about-home h2 {
    margin-bottom: 20px;
}

.about-home-content {
    padding: 46px;
}

.about-home-content .content {
    max-width: 585px;
}

.about-home-content .content>p:last-of-type {
    margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
    .about-home {
        flex-direction: column-reverse;
        padding: 0 30px;
    }

    .about-home>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .about-home-content {
        padding: 0;
        background-image: url("../img/aboutus-home.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }

    .about-home-image {
        display: none !important;
    }
}

/* Benefit & Apply */
.benefits-home h2 {
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .neon-cards-wrapper.apply-cards .neon-card:nth-of-type(even) {
        margin-top: 64px
    }

    .neon-cards-wrapper.apply-cards .neon-card:nth-of-type(odd) {
        margin-bottom: 64px
    }
}

/* Guidelines */
.check-guidelines {
    font-size: 24px;
    font-style: italic;
    max-width: 510px;
    text-align: center;
}

.guidelines-link {
    transition: .5s;
    text-decoration: underline;
}

@media screen and (max-width:1023px) {
    .check-guidelines {
        font-size: 18px;
    }
}

/* Important Dates */
.important-date {
    display: flex;
    position: relative;
}

.important-date:nth-of-type(even) {
    justify-content: flex-end;
}

.important-date::before {
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50%;
    z-index: 2;
}

.important-date:first-of-type:after,
.important-date:last-of-type:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
}

.important-date:first-of-type:after {
    top: 0;
}

.important-date:last-of-type:after {
    bottom: 0;
}

.important-date::before,
.center-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-line {
    width: 1px;
    height: 100%;
    z-index: 1;
}

.date-content {
    width: 46%;
    padding: 30px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .important-date:not(:last-of-type) {
        padding-bottom: 20px;
    }

    .important-date:first-of-type:after,
    .important-date:last-of-type:after {
        left: 0;
    }

    .important-date::before,
    .center-line {
        left: 0;
    }

    .date-content {
        width: 100%;
        padding: 20px;
        margin-left: 30px;
    }
}

/* Title */
.ai-future-competition h1 {
    margin-bottom: 30px;
}

.important-dates-home h2,
.apply-home h2,
.our-partner-home h2 {
    margin-bottom: 46px;
    text-align: center;
}
