.ai-future>div {
    flex-basis: 50%;
    max-width: 50%;
}

@media screen and (min-width: 1024px) {
    .ai-future h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .ai-future {
        flex-direction: column;
    }

    .ai-future>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.about-home>div {
    flex-basis: 50%;
    max-width: 50%;
}

.about-home-content {
    padding: 46px;
}

.about-home-content .content {
    max-width: 585px;
}

.about-home-content .content>p:last-of-type {
    margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
    .about-home {
        flex-direction: column-reverse;
        padding: 0 30px;
    }

    .about-home>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .about-home-content {
        padding: 0;
        background-image: url("../img/aboutus-home.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }

    .about-home-image {
        display: none !important;
    }
}

.neon-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
}

.neon-cards-wrapper .neon-card {
    flex-basis: 24%;
    max-width: 24%;
}

@media screen and (max-width:1023px) {
    .neon-cards-wrapper {
        gap: 5px;
    }

    .neon-cards-wrapper .neon-card {
        flex-basis: 49%;
        max-width: 49%;
    }
}

@media screen and (min-width:1024px) {
    .neon-cards-wrapper.apply-cards .neon-card:nth-of-type(even) {
        margin-top: 64px
    }

    .neon-cards-wrapper.apply-cards .neon-card:nth-of-type(odd) {
        margin-bottom: 64px
    }
}

.check-guidelines {
    font-size: 24px;
    font-style: italic;
    max-width: 510px;
    text-align: center;
}

.guidelines-link {
    transition: .5s;
    text-decoration: underline;
}

@media screen and (max-width:1023px) {
    .check-guidelines {
        font-size: 18px;
    }
}