@import url(../css/variables.css);
@import url(../css/typography.css);
@import url(../css/components.css);
@import url(../css/skin.css);
@import url(../css/home.css);

body {
    padding: 0;
    overflow-x: hidden;
}

.mb-30 {
    margin-bottom: 30px;
}

.my-custom {
    margin-top: 164px;
    margin-bottom: 164px;   
}

.py-custom {
    padding-top: 164px;
    padding-bottom: 164px;   
}

@media screen and (max-width: 1023px) {
    .my-custom {
        margin-top: 64px;
        margin-bottom: 64px;   
    }

    .py-custom {
        padding-top: 64px;
        padding-bottom: 64px;   
    }
}

.logo {
    width: 200px;
    height: 94px;
}