@import url(../css/variables.css);
@import url(../css/typography.css);
@import url(../css/components.css);
@import url(../css/skin.css);
@import url(../css/home.css);
@import url(../css/competition.css);
@import url(../css/study.css);
@import url(../css/people.css);
@import url(../css/aboutus.css);

body {
    padding: 0;
    overflow-x: hidden;
}

.my-custom {
    margin-top: 164px;
    margin-bottom: 164px;
}

.py-custom {
    padding-top: 164px;
    padding-bottom: 164px;
}

@media screen and (max-width: 1023px) {
    .my-custom {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .py-custom {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.logo {
    width: 200px;
    height: 94px;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 146px;
        height: 64px;
    }
}

.display-sm {
    display: none;
}

@media screen and (max-width: 1023px) {
    .display-lg {
        display: none;
    }

    .display-sm {
        display: block;
        margin-bottom: 30px;
        width: 100%;
    }
}