/* AI Future */
.our-people h1 {
    margin-bottom: 30px;
}

.our-people>div {
    flex-basis: 50%;
    max-width: 50%;
}

.our-people-content {
    text-align: justify;
}

@media screen and (min-width: 1024px) {
    .our-people-content {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .our-people {
        flex-direction: column-reverse;
    }

    .our-people>div {
        flex-basis: 100%;
        max-width: 100%;
        justify-content: center;
    }
}

/* Title */
.advisory-council h2,
.judge-panel h2,
.endorsers-partners h2,
.competition-comittee h2,
.competition-committee h2 {
    margin-bottom: 46px;
    text-align: center;
}
