/* Learn and Compete */
.learn-compete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-compete-content {
    text-align: center;
}

.learn-compete-round {
    position: relative;
}

/* .learn-compete-round .content-triple {
    text-align: justify;
} */

@media screen and (min-width: 1200px) {
    .learn-compete-round {
        margin: 260px 0;
    }

    .learn-compete-round img {
        width: 460px;
    }

    .learn-compete {
        gap: 46px;
    }

    .learn-compete-content p {
        width: 71%;
        margin-left: auto;
        margin-right: auto;
    }

    .learn-compete-round .content-triple {
        position: absolute;
        width: 460px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1) {
        left: -310px;
        bottom: 220px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1)::before {
        content: "";
        position: absolute;
        left: 40%;
        bottom: -120px;
        width: 1px;
        height: 110px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1)::after {
        content: "";
        position: absolute;
        left: 40%;
        bottom: -120px;
        width: 110px;
        height: 1px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2) {
        right: -325px;
        bottom: 300px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2)::before {
        content: "";
        position: absolute;
        right: 50%;
        bottom: -125px;
        width: 1px;
        height: 110px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2)::after {
        content: "";
        position: absolute;
        right: 50%;
        bottom: -125px;
        width: 290px;
        height: 1px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(3) {
        left: 55%;
        top: 305px;
        transform: translate(-50%);
    }
    
    .learn-compete-round .content-triple:nth-of-type(3)::before {
        content: "";
        position: absolute;
        left: 40%;
        top: -135px;
        width: 1px;
        height: 110px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(3)::after {
        content: "";
        position: absolute;
        left: 40%;
        top: -135px;
        width: 110px;
        height: 1px;
    }
}

@media screen and (max-width: 1199px) {
    .learn-compete-round {
        flex-direction: column;
        gap: 20px;
    }

    .learn-compete-round img {
        width: 100%;
        margin-bottom: 10px;
    }

    .learn-compete-round .content-triple {
        padding: 20px;
        border-radius: 20px;
    }

    .learn-compete-round .content-triple p:last-of-type {
        margin-bottom: 0;
    }
}

/* .learn-compete-round .content-triple p {
    display: -webkit-box;
    -webkit-line-clamp: 3; */
    /* autoprefixer: off */
    /* -webkit-box-orient: vertical; */
    /* autoprefixer: on */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} */

/* Online Learning */
.online-learning-heading,
.offline-workshops-heading {
    margin-bottom: 46px;
    text-align: center;
}

/* Offline Workshops */
.offline-workshops-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.offline-workshops-content>.content {
    position: relative;
}

.offline-workshops-content>.content::before {
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
}

.workshop-no-wrapper {
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.workshop-no {
    transform: rotate(270deg);
}

/* .offline-workshops-content>.content p {
    text-align: justify;
} */

@media screen and (min-width: 1024px) {
    .offline-workshops-content {
        gap: 50px;
    }

    .offline-workshops-content>.content {
        flex-basis: 40%;
        max-width: 40%;
        padding: 10px 40px;
        margin-left: 70px;
    }
}

@media screen and (max-width: 1023px) {
    .offline-workshops-content-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .offline-workshops-content-wrapper>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .offline-workshops-content {
        gap: 30px;
    }

    .offline-workshops-content:last-of-type {
        align-items: flex-start;
    }

    .offline-workshops-content>.content {
        width: 100%;
        padding: 10px 0 10px 30px;
        margin-left: 40px;
    }

    .workshop-no-wrapper {
        left: -85px;
    }
}

/* Office Hours */
.office-hours {
    display: flex;
    padding: 60px;
}

.office-hours>div {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .office-content p {
    text-align: justify;
} */

.office-hours .button-neon {
    margin-top: 30px;
}

@media screen and (max-width: 1023px) {
    .office-hours {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 40px 20px;
    }

    .office-hours>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}