/* Learn and Compete */
.learn-compete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-compete-content {
    text-align: center;
}

.learn-compete-round {
    position: relative;
}

.learn-compete-round .content-triple {
    text-align: justify;
}

@media screen and (min-width: 1200px) {
    .learn-compete {
        gap: 46px;
    }

    .learn-compete-content p {
        width: 71%;
        margin-left: auto;
        margin-right: auto;
    }

    .learn-compete-round .content-triple {
        position: absolute;
        width: 320px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1) {
        left: -250px;
        bottom: 220px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1)::before {
        content: "";
        position: absolute;
        left: 40%;
        bottom: -70px;
        width: 1px;
        height: 64px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(1)::after {
        content: "";
        position: absolute;
        left: 40%;
        bottom: -70px;
        width: 140px;
        height: 1px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2) {
        right: -250px;
        bottom: 300px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2)::before {
        content: "";
        position: absolute;
        right: 50%;
        bottom: -40px;
        width: 1px;
        height: 35px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(2)::after {
        content: "";
        position: absolute;
        right: 50%;
        bottom: -40px;
        width: 420px;
        height: 1px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(3) {
        left: 50%;
        top: 300px;
        transform: translate(-50%);
    }
    
    .learn-compete-round .content-triple:nth-of-type(3)::before {
        content: "";
        position: absolute;
        left: 40%;
        top: -50px;
        width: 1px;
        height: 35px;
    }
    
    .learn-compete-round .content-triple:nth-of-type(3)::after {
        content: "";
        position: absolute;
        left: 40%;
        top: -50px;
        width: 150px;
        height: 1px;
    }
}

@media screen and (max-width: 1199px) {
    .learn-compete-round {
        flex-direction: column;
        gap: 20px;
    }

    .learn-compete-round img {
        width: 100%;
        margin-bottom: 10px;
    }

    .learn-compete-round .content-triple {
        padding: 20px;
        border-radius: 20px;
    }

    .learn-compete-round .content-triple p {
        color: white;
    }

    .learn-compete-round .content-triple p:last-of-type {
        margin-bottom: 0;
    }

    .learn-compete-round .content-triple:nth-of-type(1) {
        background-color: #8101FF;
    }

    .learn-compete-round .content-triple:nth-of-type(2) {
        background-color: #CA22E9;
    }
    
    .learn-compete-round .content-triple:nth-of-type(3) {
        background-color: #00C4FE;
    }
}

/* .learn-compete-round .content-triple p {
    display: -webkit-box;
    -webkit-line-clamp: 3; */
    /* autoprefixer: off */
    /* -webkit-box-orient: vertical; */
    /* autoprefixer: on */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} */

/* Online Learning */
.online-learning h2 {
    margin-bottom: 46px;
    text-align: center;
}

/* Offline Workshops */
.offline-workshops h2 {
    margin-bottom: 46px;
    text-align: center;
}

.offline-workshops-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.offline-workshops-content>.content {
    position: relative;
}

.offline-workshops-content>.content::before {
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
}

.offline-workshops-content>.content p {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .offline-workshops-content {
        gap: 50px;
    }

    .offline-workshops-content>.content {
        flex-basis: 46%;
        max-width: 46%;
        padding: 10px 40px;
    }
}

@media screen and (max-width: 767px) {
    .offline-workshops-content-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .offline-workshops-content-wrapper>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .offline-workshops-content {
        gap: 30px;
    }

    .offline-workshops-content:last-of-type {
        align-items: flex-start;
    }

    .offline-workshops-content>.content {
        width: 100%;
        padding: 10px 0 10px 30px;
    }
}

/* Office Hours */
.office-hours {
    display: flex;
    padding: 60px;
}

.office-hours>div {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.office-content p {
    text-align: justify;
}

.office-hours .button-neon {
    margin-top: 30px;
}

@media screen and (max-width: 1023px) {
    .office-hours {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 40px 20px;
    }

    .office-hours>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}