/* Learn and Compete */
.learn-compete-content {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .learn-compete-content p {
        width: 71%;
        margin-left: auto;
        margin-right: auto;
    } 
}


/* Online Learning */
.online-learning h2 {
    margin-bottom: 46px;
    text-align: center;
}

/* Offline Workshops */
.offline-workshops h2 {
    margin-bottom: 46px;
    text-align: center;
}

.offline-workshops-content-wrapper {
    display: flex;
}

.offline-workshops-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offline-workshops-content>.content {
    position: relative;
}

.offline-workshops-content>.content::before {
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
}

@media screen and (min-width: 768px) {
    .offline-workshops-content-wrapper>div {
        flex-basis: 50%;
        max-width: 50%;
    }

    .offline-workshops-content {
        gap: 50px;
    }

    .offline-workshops-content:last-of-type {
        align-items: flex-end;
    }

    .offline-workshops-content>.content {
        width: 90%;
        padding: 10px 40px;
    }
}

@media screen and (max-width: 767px) {
    .offline-workshops-content-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .offline-workshops-content-wrapper>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .offline-workshops-content {
        gap: 30px;
    }

    .offline-workshops-content:last-of-type {
        align-items: flex-start;
    }

    .offline-workshops-content>.content {
        width: 100%;
        padding: 10px 0 10px 30px;
    }
}

/* Office Hours */
.office-hours {
    display: flex;
    padding: 60px;
}

.office-hours>div {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.office-hours .button-neon {
    margin-top: 30px;
}

@media screen and (max-width: 1023px) {
    .office-hours {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 40px 20px;
    }

    .office-hours>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}