@font-face {
    font-family: 'Sarabun Regular';
    src: url('../font/Sarabun-Regular.woff2') format('woff2'),
        url('../font/Sarabun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sarabun Medium';
    src: url('../font/Sarabun-Medium.woff2') format('woff2'),
        url('../font/Sarabun-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sarabun Bold';
    src: url('../font/Sarabun-Bold.woff2') format('woff2'),
        url('../font/Sarabun-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BenzGrotesk';
    src: url('../font/BenzGrotesk-Heavy.woff2') format('woff2'),
        url('../font/BenzGrotesk-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Sarabun Medium';
    line-height: 140%;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1,
h2 {
    font-family: 'BenzGrotesk';
    margin-top: 0;
    line-height: 140%;
}

h3,
h4,
h5,
h6 {
    font-family: 'Sarabun Bold';
    margin-top: 0;
    line-height: 140%;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }
}

p,
input,
input[type="text"],
input[type="email"],
textarea {
    font-family: 'Sarabun Regular';
    font-size: 16px;
}


@media screen and (max-width: 1023px) {
    p,
    input,
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
    }
}

.large-font {
    font-family: 'BenzGrotesk';
    font-size: 64px;
}

@media screen and (max-width: 1023px) {
    .large-font {
        font-size: 40px;
    }
}

.learn-compete-round .content-triple p {
    font-size: 16px;
}

@media screen and (max-width: 1279px) {
    .learn-compete-round .content-triple p {
        font-size: 14px;
    }
}