:root {
    /* Background */
    --color-background: #0F1537;

    /* Header */
    --color-header-gradient-1: #00C4FEE3;
    --color-header-gradient-2: #01052D62;

    /* Footer */
    --color-footer-gradient-1: #80008043;
    --color-footer-gradient-2: #01052D64;
    --color-copyright-border: #80008080;

    /* Button Neon */
    --color-neon-btn-bg: #80008030;
    --color-neon-btn-shadow: #FF58FF;
    --color-neon-btn-shadow-text: #800080;
    --color-neon-btn-border: #21C3FE;
    --color-neon-btn-text: #00C4FEE3;

    /* Neon Card */
    --color-neon-card-gradient-1: #441C72C1;
    --color-neon-card-gradient-2: #01052D34;

    /* Sub color */
    --color-active: #CA22E9;
    --color-white: #fff;
    --color-text-gray: #B1B1B1;
}
