:root {
    /* Background */
    --color-background: #0F1537;

    /* Header */
    --color-header-gradient-1: #00C4FEE3;
    --color-header-gradient-2: #01052D62;

    /* Footer */
    --color-footer-gradient-1: #80008043;
    --color-footer-gradient-2: #01052D64;
    --color-copyright-border: #80008080;

    /* Button Neon */
    --color-neon-btn-bg: #80008030;
    --color-neon-btn-shadow: #FF58FF;
    --color-neon-btn-shadow-text: #800080;
    --color-neon-btn-border: #21C3FE;
    --color-neon-btn-text: #00C4FEE3;

    /* Neon Card */
    --color-neon-card-gradient-1: #441C72C1;
    --color-neon-card-gradient-2: #01052D34;

    /* Award Component */
    --color-award-wrapper-gradient-1: #441C72C1;
    --color-award-wrapper-gradient-2: #01052D;
    --color-award-wrapper-gradient-3: #441C72BF;

    --color-prize-gradient-1: #00C4FED8;
    --color-prize-gradient-2: #21C3FE00;
    --color-prize: #FFCF4B;

    /* Important Dates */
    --color-important-date-gradient-1: #800080;
    --color-important-date-gradient-2: #21C3FE;

    --color-center-line: #5C0E4C;

    --color-date-content-gradient-1: #441C72C1;
    --color-date-content-gradient-2: #01052D81;

    /* Form input */
    --color-input-background: #1D386A;
    --color-input-border: #282249;
    --color-input-text: #B1B1B1;

    /* Slick */
    --color-arrow-border: #3D8AE2;
    --color-slick-people-border: #5C0E4C;

    /* Sub color */
    --color-active: #CA22E9;
    --color-white: #fff;
    --color-red: #E60040;
    --color-blue: #21C3FE;
    --color-text-gray: #B1B1B1;
}
